				<ul class="nav nav-list">

					
					
					<li class="active">

					  <a href="__APP__/Index/index">

						<i class="icon-dashboard"></i>

						<span>管理系统首页</span>

						

					  </a>

					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle">

						<i class="icon-text-width"></i>

						<span>商户管理</span>

					<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
						<li><a href="__APP__/User/usertypelist"><i class="icon-double-angle-right"></i> 用户分类</a></li>
						<li><a href="__APP__/User/userlist"><i class="icon-double-angle-right"></i> 用户列表</a></li>
						<li><a href="__APP__/User/userlists"><i class="icon-double-angle-right"></i> 未审商户</a></li>
						<li><a href="__APP__/User/governmentlist"><i class="icon-double-angle-right"></i> 政府列表</a></li>
						<li><a href="__APP__/User/ungovernmentlist"><i class="icon-double-angle-right"></i> 未审政府</a></li>
					  </ul>
					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle" >

						<i class="icon-desktop"></i>

						<span>点点滴滴--文档管理</span>

						<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
					  	<li><a href="__APP__/Admin/Bitbybit/notbusylist"><i class="icon-double-angle-right"></i>点点滴滴--闲时的叙述</a></li>
						<li><a href="__APP__/Admin/Bitbybit/movielist"><i class="icon-double-angle-right"></i> 点点滴滴--电影列表</a></li>
						<li><a href="__APP__/Policy/newstype"><i class="icon-double-angle-right"></i> 政策文档列表</a></li>
					  </ul>

					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle" >

						<i class="icon-desktop"></i>

						<span>工作学习--文档管理</span>

						<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
						<li><a href="__APP__/Admin/Workstudy/phplist"><i class="icon-double-angle-right"></i>php入门与精通文章管理</a></li>
						<li><a href="__APP__/Admin/Workstudy/otherlist"><i class="icon-double-angle-right"></i>工作中的解决的技术文档</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 市场信息类型</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 市场信息文档</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 健康食品文档</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 认证知识类型</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 认证知识文档</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 特产常识</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 金融文档类型</a></li>
						<li><a href="buttons.html"><i class="icon-double-angle-right"></i> 金融文档</a></li>
					  </ul>

					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle" >

						<i class="icon-edit"></i>

						<span>网站统计</span>

						<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 清单统计</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 即使订单</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 协议订单</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 网站会员</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 会员操作日志</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 供应信息发布</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 求购信息发布</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 询盘信息</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 注册用户信息</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 用户等级信息</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 应聘登记</a></li>
					  </ul>

					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle" >

						<i class="icon-edit"></i>

						<span>信息管理</span>

						<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 产品分类列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 产品列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 供求列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 认证列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 待审列表</a></li>
					  </ul>

					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle" >

						<i class="icon-edit"></i>

						<span>权限管理</span>

						<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 用户组列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 会员板块管理</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 管理员组列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 管理员列表</a></li>
						<li><a href="form-elements.html"><i class="icon-double-angle-right"></i> 后台板块管理</a></li>
					  </ul>

					</li>



					

					<li>

					  <a href="gallery.html">

						<i class="icon-picture"></i>

						<span>Gallery</span>

						

					  </a>

					</li>



					

					<li>

					  <a href="grid.html">

						<i class="icon-th"></i>

						<span>Grid</span>

						

					  </a>

					</li>



					

					<li>

					  <a href="#" class="dropdown-toggle" >

						<i class="icon-file"></i>

						<span>Other Pages</span>

						<b class="arrow icon-angle-down"></b>

					  </a>
					  <ul class="submenu">
						<li><a href="pricing.html"><i class="icon-double-angle-right"></i> Pricing Tables</a></li>
						<li><a href="invoice.html"><i class="icon-double-angle-right"></i> Invoice</a></li>
						<li><a href="login.html"><i class="icon-double-angle-right"></i> Login & Register</a></li>
						<li><a href="error-404.html"><i class="icon-double-angle-right"></i> Error 404</a></li>
						<li><a href="error-500.html"><i class="icon-double-angle-right"></i> Error 500</a></li>
						<li><a href="blank.html"><i class="icon-double-angle-right"></i> Blank Page</a></li>
					  </ul>

					</li>



					

				</ul><!--/.nav-list-->



				<div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>