	<div id="footer-wrapper">
	
		<div id="footer">
			
			<!-- BEGIN FOOTER WIDGET -->
			<div class="footer-widget left">
			
				<h3>idle narrative</h3>
				
				<ul>
					<volist name="saying" id="vo">
					<li><a href="__APP__/Home/Diary/notbusyinfo?id={$vo.id}">{$vo.article_title}</a></li>
<!-- 					<li><a href="#">Minecraft sells over 1 million copies</a></li>
					<li><a href="#">Little Big Planet 2 hits the streets</a></li>
					<li><a href="#">10 great iPhone games</a></li>
					<li><a href="#">FIFA 11 breaks all sales records</a></li>
					<li><a href="#">Diablo 3 release date rumors</a></li> -->
					</volist>
				</ul>
			
			</div>
			<!-- END FOOTER WIDGET -->
			
			<!-- BEGIN FOOTER WIDGET -->
			<div class="footer-widget middle">
			
				<h3>phpstudy</h3>
				
				<ul>
					<volist name="phplist" id="vo">
						<li><a href="__APP__/Home/Study/phplistinfo?id={$vo.id}">{$vo.article_title}</a></li>
					</volist>
<!-- 					<li><a href="#">March 2011</a></li>
					<li><a href="#">February 2011</a></li>
					<li><a href="#">January 2011</a></li>
					<li><a href="#">December 2010</a></li>
					<li><a href="#">November 2010</a></li> -->
				</ul>
			
			</div>
			<!-- END FOOTER WIDGET -->
			
			<!-- BEGIN FOOTER WIDGET -->
			<div class="footer-widget middle">
			
				<h3>loving movie</h3>
				<ul>
					<volist name="media" id="vo">
						<li><a href="__APP__/Home/Diary/loving_movie?id={$vo.id}">{$vo.movie_name}</a></li>
					</volist>
				</ul>
			
			</div>
			<!-- END FOOTER WIDGET -->
			
			<!-- BEGIN FOOTER WIDGET -->
			<div class="footer-widget right">
			
				<h3>exhortation</h3>
				<p>{$exhortation.exhortation}</p>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
			 -->
			</div>
			<!-- END FOOTER WIDGET -->
			
		</div>
	
	</div>
	<!-- END FOOTER -->
	
	<!-- BEGIN FOOTER BOTTOM WRAPPER -->
	<div id="footer-bottom-wrapper">
	
		<!-- BEGIN FOOTER BOTTOM -->
		<div id="footer-bottom">
		
			<span class="footer-bottom-left" style="text-align:center; margin-left: 228px;">Copyright ? 2005—2014,庄景鹏个人网站,Zhuang's Personal Website ,All Rights Reserved.</span>
			<span class="footer-bottom-left" style="text-align:center;">版权声明：凡注明本站原创文章、作品，未经本人许可，任何人或机构不得以任何形式对本站内容进行复制作商业用途.
本站部分文章、资源来自互联网，版权归原作者及网站所有，如果侵犯了您的权利，请及时致信告知我站.</span>
		
		</div>
		<!-- END FOOTER BOTTOM -->
	
	</div>