<!DOCTYPE html>
<html lang="en">
<head>


 
<title>我的简历</title>
	<!-- BEGIN HEADER -->
<include file="Public:header"/>
	<!-- END HEADER -->
	
	<!-- BEGIN MAIN WRAPPER -->
	<div id="main-wrapper">
	
		<!-- BEGIN MAIN -->
		<div id="main">
		
			<!-- BEGIN POST -->
			<div id="post">
			
				<h3 class="section-title">我的简历</h3>
				
				<div class="post-entry" width="500px">
				<div style="width: 103px;float:left">
					<p style="width: 120px;"><b>个人信息</b></p>
					<p style="width: 120px;">姓名：庄景鹏</p>                                
					<p style="width: 120px;">性别：男</p>
					<p style="width: 120px;">身高：180 cm</p>
				</div>
				<div style="margin-left: 10px;float:left"><img src="__PUBLIC__/images/index/aboutus/school_logo.jpg" width="324px" height="65px" style="margin-left: 162px;"/></div>
				<div style="float:right;margin-top: 19px; margin-right: 12px;""><a href="__PUBLIC__/download/personal.doc" style="font-size:20px">下载我的简历</a></div>
				<div style="clear:both"></div>
<p>籍贯：福建福州  </p>                   
<p>专业：计算机科学与技术  </p>                                          
<p>手机号码：15910616847    </p>                         
<p>E-mail： 1064480036@qq.com</p>
<p>现住址：北京市海淀区福缘门社区1排1号223室</p>
<p><b>教育背景</b></p>
<p>毕业院校：北京化工大学（教育部直属的全国重点大学，国家“211工程”重点建设院校）</p>
<p>专业：计算机科学与技术</p>
<p>学历：全日制本科    学士学位</p>
<p>获奖与证书：英语四级</p>
<p>求职意向：php程序员（网站开发,系统开发等相关工作）</p>
<p>薪资要求：5000-7000元/月</p>
<p><b>自我评估与分析</b></p>
<p>本人性格开朗活泼，善于与人交流，有较强的学习能力和处理事物的能力，有较强的团队合作能力。身体素质较好，爱好打篮球。熟练掌握php编程，对thinkphp以及dedecms有深入研究与应用，较熟练了解C语言、JAVA、C++等编程语言以及SQL等数据库语言。曾在民教科学信息研究院做过php网站项目开发以及网络产品销售的实习，在假期参加了许多关于销售的兼职，具有良好的沟通能力和组织能力，也具备较强的英语听说读写能力。</p>

<p><b>个人经历</b></p>
<p><b>学习经历：</b></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 熟练掌握php编程，对thinkphp以及dedecms有深入研究与应用；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学过C语言、数据结构、JAVA等课程；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 了解MySQL数据库，数据库管理及SQL编程；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 掌握操作系统，数据结构的理论知识；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 熟练掌握Word、Excel、Powerpoint办公软件基本操作；</p>



<p>社会实践经历：</p>
<p>2013/10至今</p>
<p>北京民教科学信息研究院    担任php网站项目开发程序员</p>
<p><b>职责：</b></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 负责网站数据库、栏目、程序模块的设计与开发</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 按时按质完成公司下达程度开发、系统评测等工作任务</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 定期维护网站程序，处理反馈回来的系统bug</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 网站程序开发文档的编写。</p>
<p><b>工作成果：</b></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 已有多个独立开发并且已经上线正常运行的网站</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 通过自己自学的div+css知识，能够不通过前端程序员的帮助自行对网站的样式进行修改</p>

<p>2013/8至2013/10</p>
<p>北京民教科学信息研究院   担任网站需求分析师</p>
<p><b>职责：</b></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 与优秀公司经理洽谈协商他们对构建网站的需求，并且能够控制他们的需求</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 网站与相关系统需求分析及设计</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 负责工作文档撰写及管理、各部门的沟通协调，以及网站测试等日常工作</p>
<p><b>工作成果：</b></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  已成功谈成多笔其他公司构建网站的需求并已进行下一步网站建设</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 待人接物及谈吐方面有了相当高的进步</p>


<p><b>大学期间兼职情况</b></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 大三春节期间，担任海尔彩电的临促，在过年期间，卖场基本上无人流量的情况下，10天销售出5台海尔彩电，使得海尔彩电的销量在当周份额第一。</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 大三国庆七天，担任了方太厨电的临促.</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 大三五一期间，做过强力家具的推广员，为了推广强力家具，通过扫楼，扫街，发单页等形式进行推广，三四线品牌的推广需要花更多的时间，更多的方式与终端消费者面对面的交流与沟通，获取需求从而才能达成销量。</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 大二期间，参加思科培训，学习并了解了局域网、路由器、交换机等网络设备的连接；参观用友软件公司，对其有了初步了解</p>

<p>我的人生事业励志名言</p>
<p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人的思想是了不起的，只要专注于某一项事业，就一定会做出使自己感到吃惊的成绩来。——马克·吐温</b></p>
					
					
				</div>
			
			</div>
			<!-- EMD POST -->
			
		</div>
		<!-- END MAIN -->
		
		<!-- BEGIN SIDEBAR -->
	<include file="Public:right" />
	
		</div>
		<!-- END SIDEBAR -->

	<!-- END main-wrapper -->
	
	<!-- BEGIN FOOTER TOP -->
	<div id="footer-top-wrapper">
	
		<div id="footer-top">
		
			<ul id="footer-navigation">
				<li><span> // </span><a href="#">Home</a></li>
				<li><span> // </span><a href="#">About Us</a></li>
				<li><span> // </span><a href="#">Contact</a></li>
				<li><span> // </span><a href="#">Page Templates</a></li>
			</ul>
			
			<div id="back-top">
				<a href="#">Back to top</a>
			</div>
			
		</div>
	
	</div>
	<!-- END FOOTER TOP -->
	
	<!-- BEGIN FOOTER -->
<include file="Public:footer" />
	<!-- END FOOTER BOTTOM WRAPPER -->
	
</body>
	
</html>